*{margin:0;
    padding:0;
    }
html {height:100%;}
body {display:flex;flex-direction: column;height: 100%;}
main {display:flex;flex-direction: column;height: 56%;}
main {flex-grow:5;}
body {background-color: rgb(255, 195, 117);}
.catalog {display: flex;}
.catalog {justify-content: space-around;}
span {display: flex;}
span {justify-content: center;}
button {background-color: rgb(91, 208, 255);}
input {background-color: rgb(48, 184, 247);}
.contf {display: flex;}
.contf {justify-content: center;}
.catalogf {display: flex;}
.catalogf {justify-content: center;}
.kabinet {display: flex;}
.kabinet {justify-content: center;}
.kabinets {display: flex;}
.kabinets {justify-content: space-evenly;}
nav {display: flex;}
nav {justify-content: space-evenly;}
.prosto {display: flex;}
.prosto {justify-content: center;}
input {display: flex;flex-direction: column;height: 30px;}
input {display: flex;flex-direction: column;width: 300px;}
button {display: flex;flex-direction: column;height: 34px;}
button {display: flex;flex-direction: column;width: 50px;}
.conts {display: flex;}
.conts {justify-content: space-evenly;}
body {background:url(mg/21.jpg) ;}
footer {background-color: rgb(150, 150, 138);height: 200px;}
footer {opacity: 0.6;}
p{background-color: rgb(150, 150, 138);}
