input[type="file"] {
    display: none;
}
.load{
    border: 1px solid rgb(0, 0, 0);
padding: 6px 12px;}
input:valid{border: green;}
input:invalid{border: red;}
input:invalid:required{background-color: rgb(161, 161, 161);}
